---
import Section from "../Section.astro";
import { projects } from "@cv";
---

<Section title="Projects">
  <ul>
    {
      projects.map(({ name, isActive, description, url, highlights }) => {
        return (
          <li>
            <article class="project-card">
              <header>
                <h3>
                  <a href={url} title={`Take a look into ${name}`}>
                    {name}
                  </a>
                  {isActive && <span>&bull;</span>}
                </h3>
                <p>{description}</p>
              </header>
              <footer>
                {highlights.map((highligh) => {
                  return <span>{highligh}</span>;
                })}
              </footer>
            </article>
          </li>
        );
      })
    }
  </ul>
</Section>

<style>
  * {
    transition: all 0.1s ease-out;
  }

  .project-card {
    /* display: block; */
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    top: 0px;
    position: relative;
    /* max-width: 262px; */
    background-color: #ffffff;
    border-radius: 4px;
    /* padding: 32px 24px; */
    /* margin: 12px; */
    text-decoration: none;
    z-index: 0;
    overflow: hidden;
    border: 1px solid #f2f8f9;

    &:hover {
      color: white;
      transition: all 0.2s ease-out;
      box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
      top: -4px;
      border: 1px solid #cccccc;
      background-color: #3f3f3f;
    }

    &:before {
      content: "";
      position: absolute;
      z-index: -1;
      top: -16px;
      right: -16px;
      background: #3f3f3f;
      height: 32px;
      width: 32px;
      border-radius: 32px;
      transform: scale(2);
      transform-origin: 50% 50%;
      transition: transform 0.15s ease-out;
    }

    &:hover:before {
      transform: scale(2.15);
    }
  }
  ul {
    display: grid;
    list-style: none;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
  }

  article {
    border-radius: 0.5rem;
    border: 1px solid #f2f2f2;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    height: 100%;
  }

  article header {
    flex: 1;
  }
  h3 span {
    color: rgb(0, 255, 64);
  }

  article a {
    color: inherit;
  }

  article a:hover {
    text-decoration: underline;
  }

  article p {
    color: inherit;
    opacity: 0.7;
    font-size: 0.75rem;
    line-height: 1.2rem;
    margin-bottom: 4px;
  }
  footer {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 0.25rem;
    font-size: 0.6rem;
  }

  footer span {
    display: inline-flex;
    border-radius: 6px;
    background: #eee;
    color: #000;
    font-size: 0.6rem;
    font-weight: 500;
    padding: 0.2rem 0.4rem;
  }
</style>
